---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import { getPostBySlug } from "@/services/blog";

const { post: postSlug } = Astro.params;

const { title, _embedded, content } = await getPostBySlug({ postSlug });

const author = _embedded.author[0];
---

<Layout title="D2B Inteligencia Digital" description="Home de la pagina de D2B">
  <main>
    <section class="px-6">
      <div class="max-w-[50ch] m-auto pt-36 pb-12 text-center">
        <h1 class="text-3xl">{title.rendered}</h1>
        <small>{author.name}</small>
      </div>
      <div
        class="max-w-[75ch] m-auto [&_p]:mb-4 [&_h5]:mb-4 [&_h5]:text-xl [&_h6]:mb-4 [&_h6]:text-xl [&_ul]:mb-4 [&_ul]:list-disc [&_ul]:ml-8 [&_img]:w-full [&_a]:underline [&_a]:text-primary [&_a:hover]:text-accent [&_blockquote]:bg-gray-100 [&_blockquote]:p-4 [&_blockquote]:border-l-4 [&_blockquote]:border-accent [&_blockquote]:text-gray-800 [&_blockquote]:font-serif [&_blockquote]:text-lg [&_blockquote]:mb-4 [&_div]:max-w-[75ch]"
        set:html={content.rendered}
      />
    </section>

    <section class="px-6">
      <div class="max-w-[75ch] x m-auto py-12 border-t border-neutral-500">
        <Image
          class="object-cover rounded-full"
          src={author.avatar_urls[96]}
          alt={`Imagen de ${author.name}`}
          height={100}
          width={100}
        />
        <h3 class="text-lg text-accent">{author.name}</h3>
        <p>{author.description}</p>
      </div>
    </section>
  </main>
</Layout>
