---
import Layout from "@/layouts/Layout.astro";
import { blogPage } from "@/services/blog";
import LoadMore from "@/components/LoadMore";

export const prerender = true

const { meta_title, meta_description, titulo, subtitulo, boton_principal } =
  blogPage;
---

<Layout
  title="Blog | D2B Inteligencia Digital"
  metaTitle={meta_title}
  metaDescription={meta_description}
>
  <main>
    <section class="px-6 bg-no-repeat bg-cover pb-36 pt-52 bg-hero-blog">
      <div class="relative max-w-screen-xl m-auto">
        <h1 class="text-white text-3xl md:text-5xl max-w-[25ch] mb-12">
          {titulo}
        </h1>
        <div
          class="mb-12 [&>p]:mb-6 [&>p]:text-lg [&>p]:text-white"
          set:html={subtitulo}
        />

        <form>
          <input
            class="block w-full p-2 mb-4 rounded-lg md:w-96 animate-fade animate-delay-300"
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Tu nombre"
          />
          <input
            class="block w-full p-2 mb-4 rounded-lg md:w-96 animate-fade animate-delay-300"
            type="email"
            name="email"
            id="email"
            placeholder="Tu correo electrónico"
          />
          <p class="invisible text-red-600 error-message">
            No se ha podido ingresar tu solicitud. Intentalo en otro momento
          </p>
          <button
            class="w-full px-8 py-4 font-bold text-center text-white rounded-lg md:w-fit bg-primary hover:bg-dark-primary animate-fade animate-delay-300"
            type="submit"
          >
            {boton_principal}
          </button>
        </form>
        <div
          class="absolute bottom-0 left-0 hidden text-white bg-transparent success-message place-items-center"
        >
          <span class="text-2xl">¡Te has suscrito con éxito!</span>
        </div>
      </div>
    </section>

    <section class="px-6 py-36">
      <LoadMore wpUrl={import.meta.env.WP_API_URL} client:only="react" />
    </section>
  </main>
</Layout>

<script>
  import { $ } from "@/lib/dom-selector";
  const form = $("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();

    const formData = new FormData(e.target as HTMLFormElement);
    const data = Object.fromEntries(formData);

    fetch("/api/subscribe-to-blog", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    }).then((res) => {
      if (res.ok) {
        $(".success-message").classList.replace("hidden", "grid");
        form.classList.add("invisible");
      } else $(".error-message").classList.remove("invisible");
    });
  });
</script>
