---
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/BlogCard.astro";
import { getPosts } from "@/services/blog";
import { wordCounter } from "@/lib/utils";
import { blogPage } from "@/services/blog";

const { meta_title, meta_description, titulo, subtitulo, boton_principal } =
  blogPage;

const posts = await getPosts();
---

<Layout
  title="Blog | D2B Inteligencia Digital"
  metaTitle={meta_title}
  metaDescription={meta_description}
>
  <main>
    <section class="px-6 bg-no-repeat bg-cover pb-36 pt-52 bg-hero-blog">
      <div class="relative m-auto max-w-screen-xl">
        <h1 class="text-white text-3xl md:text-5xl max-w-[25ch] mb-12">
          {titulo}
        </h1>
        <div
          class="mb-12 [&>p]:mb-6 [&>p]:text-lg [&>p]:text-white"
          set:html={subtitulo}
        />

        <form>
          <input
            class="block w-full p-2 mb-4 rounded-lg md:w-96 animate-fade animate-delay-300"
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Tu nombre"
          />
          <input
            class="block w-full p-2 mb-4 rounded-lg md:w-96 animate-fade animate-delay-300"
            type="email"
            name="email"
            id="email"
            placeholder="Tu correo electrónico"
          />
          <p class="invisible text-red-600 error-message">
            No se ha podido ingresar tu solicitud. Intentalo en otro momento
          </p>
          <button
            class="w-full px-8 py-4 font-bold text-center text-white rounded-lg md:w-fit bg-primary hover:bg-dark-primary animate-fade animate-delay-300"
            type="submit"
          >
            {boton_principal}
          </button>
        </form>
        <div
          class="absolute bottom-0 left-0 hidden text-white bg-transparent success-message place-items-center"
        >
          <span class="text-2xl">¡Te has suscrito con éxito!</span>
        </div>
      </div>
    </section>

    <section class="px-6 py-36">
      <div class="m-auto grid max-w-screen-xl gap-12 md:grid-cols-3">
        {
          posts.map((post) => (
            <BlogCard
              title={post.title.rendered}
              excerpt={post.excerpt.rendered}
              img={post._embedded["wp:featuredmedia"][0].link}
              caption={post._embedded["wp:featuredmedia"][0].alt_text}
              author={post._embedded.author[0].name}
              authorSlug={post._embedded.author[0].slug}
              readingTime={
                Math.ceil(wordCounter(post.content.rendered) / 200) + " minutos"
              }
              slug={post.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();

    const formData = new FormData(e.target as HTMLFormElement);
    const data = Object.fromEntries(formData);

    fetch("/api/subscribe-to-blog", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    }).then((res) => {
      if (res.ok) {
        document
          .querySelector(".success-message")
          .classList.replace("hidden", "grid");
        form.classList.add("invisible");
      } else
        document.querySelector(".error-message").classList.remove("invisible");
    });
  });
</script>
