---
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/BlogCard.astro";
import { getPosts } from "@/services/blog";

const posts = await getPosts();

const getCaption = (post) => {
  const { caption } = post.yoast_head_json.schema["@graph"].filter(
    (item) => item["@type"] === "ImageObject",
  )[0];
  return caption;
};
---

<Layout title="D2B Inteligencia Digital" description="Home de la pagina de D2B">
  <main>
    <section
      class="bg-no-repeat bg-cover bg-[url('https://d2b.cl/blog/wp-content/uploads/2021/11/prueba2.jpg')]"
    >
      <div class="max-w-screen-xl m-auto px-6 pb-36 pt-52">
        <h1 class="text-white text-5xl max-w-[25ch] mb-12">Blog de D2B</h1>
        <p class="text-white text-lg mb-6">
          Infórmate de todo lo que sucede en el Marketing Digital.
        </p>
        <p class="text-white text-lg mb-6">
          Te damos la bienvenida al Blog de D2B, donde nuestros profesionales
          comparten artículos relacionados al marketing digital,
          recomendaciones, pensamientos y lecciones aprendidas sobre diversos
          temas referentes a SEO, Performance, Analytics, CRO y mucho más. Te
          acompañamos en todo lo que necesitas saber para ganar más clientes.
        </p>
        <button
          class="px-6 py-3 text-white rounded-lg bg-accent animate-fade animate-delay-500"
        >
          Botón principal
        </button>
      </div>
    </section>

    <section>
      <div class="max-w-screen-xl m-auto px-6 py-36 grid grid-cols-3 gap-12">
        {
          posts.map((post) => (
            <BlogCard
              title={post.title.rendered}
              excerpt={post.excerpt.rendered}
              img={post.yoast_head_json.og_image[0].url}
              caption={getCaption(post) ?? `Imagen de ${post.title.rendered}`}
              author={post.yoast_head_json.author}
              readingTime={
                post.yoast_head_json.twitter_misc["Tiempo de lectura"]
              }
              slug={post.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
