---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import ReactBlogCard from "@/components/ReactBlogCard";
import { getUsers, getUserBySlug, getPostsByUserId } from "@/services/blog";

export const prerender = true;
export const getStaticPaths = (async () => {
  const data = await getUsers();
  return data.map(({ slug }) => ({ params: { author: slug } }));
}) satisfies GetStaticPaths;

const { author: userSlug } = Astro.params;

const authorData = await getUserBySlug({
  userSlug,
});

const { id="", name="", description="", avatar_urls={}, yoast_head_json={} } = authorData;

const posts = await getPostsByUserId({ id });
---

<Layout
  metaTitle={yoast_head_json?.title}
  metaDescription={description}
>
  <main>
    <section class="px-6 pt-48 pb-16">
      <div class="flex flex-col max-w-screen-xl gap-6 m-auto md:flex-row">
        <!-- <Image
          class="rounded-full size-28"
          src={avatar_urls?.[96]}
          alt={`Imagen de ${name}`}
          width={96}
          height={96}
        /> -->
        <div>
          <h1 class="text-xl md:text-3xl max-w-[25ch] mb-6">{name}</h1>
          <p class="md:text-lg">{description}</p>
        </div>
      </div>
    </section>

    <section class="px-6 py-12">
      <div class="grid max-w-screen-xl gap-12 m-auto md:grid-cols-3">
        {
          posts.map((post) => (
            <ReactBlogCard
              title={post?.title?.rendered}
              excerpt={post?.excerpt?.rendered}
              img={post?._embedded?.["wp:featuredmedia"]?.[0]?.link}
              caption={post?._embedded?.["wp:featuredmedia"]?.[0]?.alt_text}
              author={post?._embedded?.author?.[0]?.name}
              authorSlug={post?._embedded?.author?.[0]?.slug}
              content={post?.content?.rendered}
              slug={post?.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
