---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/BlogCard.astro";
import { wordCounter } from "@/lib/utils";
import { getUserBySlug, getPostsByUserId } from "@/services/blog";

const { author: userSlug } = Astro.params;

const { id, name, description, avatar_urls } = await getUserBySlug({
  userSlug,
});

const posts = await getPostsByUserId({ id });
---

<Layout
  title="D2B Inteligencia Digital"
  metaTitle="Post author"
  metaDescription="Home de la pagina de D2B"
>
  <main>
    <section class="px-6 pt-48 pb-16">
      <div class="flex flex-col m-auto max-w-screen-xl gap-6 md:flex-row">
        <Image
          class="rounded-full size-28"
          src={avatar_urls[96]}
          alt={`Imagen de ${name}`}
          width={96}
          height={96}
        />
        <div>
          <h1 class="text-xl md:text-3xl max-w-[25ch] mb-6">{name}</h1>
          <p class="md:text-lg">{description}</p>
        </div>
      </div>
    </section>

    <section class="px-6 py-12">
      <div class="m-auto grid max-w-screen-xl gap-12 md:grid-cols-3">
        {
          posts.map((post) => (
            <BlogCard
              title={post.title.rendered}
              excerpt={post.excerpt.rendered}
              img={post._embedded["wp:featuredmedia"][0].link}
              caption={post._embedded["wp:featuredmedia"][0].alt_text}
              author={post._embedded.author[0].name}
              authorSlug={post._embedded.author[0].slug}
              readingTime={
                Math.ceil(wordCounter(post.content.rendered) / 200) + " minutos"
              }
              slug={post.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
