---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import ServiceCard from "@/components/ServiceCard.astro";
import {
	homePage,
	valueProposition,
	clients,
	partners,
	team,
} from "@/services/home";
import { servicesResume } from "@/services/services";

const {
	titulo_principal,
	subtitulo,
	cta_principal,
	servicios_titulo,
	propuesta_de_valor_titulo,
	propuesta_de_valor_subtitulo,
	clientes_titulo,
	clientes_subtitulo,
	partners_titulo,
	partners_subtitulo,
	equipo_titulo,
	equipo_subtitulo,
} = homePage;

team.sort(() => Math.random() - 0.5);
const teamLength = team.length;
const team1 = team.slice(0, teamLength / 2);
const team2 = team.slice(teamLength / 2, teamLength);
---

<Layout title="D2B Inteligencia Digital" description="Home de D2B">
	<main>
		<section class="px-6 bg-top bg-cover pb-36 pt-52 bg-hero">
			<div class="m-auto max-w-screen-xl">
				<h1
					class="text-white text-3xl md:text-5xl font-bold max-w-[30ch] mb-6 animate-fade-left"
				>
					{titulo_principal}
				</h1>
				<p
					class="text-white text-xl md:text-2xl max-w-[45ch] mb-14 animate-fade-left"
				>
					{subtitulo}
				</p>
				<a
					class="block px-8 py-4 font-bold text-center text-white rounded-lg md:inline-block bg-primary hover:bg-dark-primary animate-fade animate-delay-300"
					href="/contacto"
				>
					{cta_principal}
				</a>
			</div>
		</section>

		<section class="px-6 py-24">
			<div class="m-auto max-w-screen-xl">
				<h2
					class="mb-12 text-3xl font-bold text-center md:text-5xl text-secondary"
				>
					{servicios_titulo}
				</h2>
			</div>
			<div
				class="flex flex-col flex-wrap justify-center m-auto max-w-screen-xl gap-2 xl:flex-nowrap md:flex-row"
			>
				{
					servicesResume.map(
						({
							nombre_del_servicio,
							icono,
							descripcion_del_servicio,
							slug,
						}) => (
							<ServiceCard
								icon={`${import.meta.env.DIRECTUS_URL}/assets/${icono}`}
								title={nombre_del_servicio}
								description={descripcion_del_servicio}
								href={`/servicios/${slug}`}
							/>
						),
					)
				}
			</div>
		</section>

		<section class="px-6 py-24 gray-rounded-background">
			<div class="m-auto max-w-screen-xl">
				<h2
					class="mb-6 text-3xl font-bold text-center md:text-5xl text-secondary"
				>
					{propuesta_de_valor_titulo}
				</h2>
				<h3 class="mb-12 text-base text-center md:text-lg">
					{propuesta_de_valor_subtitulo}
				</h3>
				<div class="grid grid-cols-12 gap-6">
					{
						valueProposition.map(({ titulo, descripcion }, index) => (
							<article
								class:list={[
									"p-6 md:p-10 border-2 rounded-lg border-neutral-200",
									{
										"bg-white col-start-1 md:col-start-2 col-span-12  md:col-span-5":
											index == 0 || index == 4 || index == 8,
									},
									{
										"bg-accent-purple col-span-12 md:col-span-6":
											index == 1 || index == 2 || index == 5 || index == 6,
									},
									{
										"bg-white col-span-12 md:col-span-5":
											index == 3 || index == 7,
									},
								]}
							>
								<h4 class="text-xl font-bold text-secondary">{titulo}</h4>
								<p class="mt-4">{descripcion}</p>
							</article>
						))
					}
				</div>
			</div>
		</section>

		<section class="px-6 pt-24 pb-12">
			<div class="m-auto max-w-screen-xl">
				<h2
					class="mb-6 text-3xl font-bold text-center md:text-5xl text-secondary"
				>
					{clientes_titulo}
				</h2>
				<h3 class="mb-16 text-base text-center md:text-lg">
					{clientes_subtitulo}
				</h3>
			</div>
			<div
				class="flex flex-wrap justify-center m-auto max-w-screen-xl gap-y-12 md:gap-14"
			>
				{
					clients.map(({ nombre, logo }) => (
						<Image
							class="object-contain w-1/2 h-16 md:w-auto grayscale"
							src={`${import.meta.env.DIRECTUS_URL}/assets/${logo}`}
							alt={`Image de ${nombre}`}
							inferSize
						/>
					))
				}
			</div>
		</section>

		<section class="px-6 py-12 md:py-24">
			<div
				class="flex flex-col px-4 py-6 m-auto rounded-lg max-w-screen-xl gap-2 md:flex-row md:px-28 md:py-10 bg-accent-purple"
			>
				<div>
					<h2
						class="mb-6 text-3xl font-bold text-center md:text-left md:text-5xl text-secondary"
					>
						{partners_titulo}
					</h2>
					<h3 class="mb-10 text-base text-center md:text-lg md:text-left">
						{partners_subtitulo}
					</h3>
				</div>
				<div class="grid grid-cols-3 gap-x-4 gap-y-6">
					{
						partners.map(({ nombre, logo }) => (
							<Image
								class="object-contain w-full h-12 m-auto grayscale"
								src={`${import.meta.env.DIRECTUS_URL}/assets/${logo}`}
								alt={`Imagen de ${nombre}`}
								inferSize
							/>
						))
					}
				</div>
			</div>
		</section>

		<section class="px-6 py-24">
			<div class="m-auto max-w-screen-xl">
				<h2
					class="mb-6 text-3xl font-bold text-center md:text-5xl text-secondary"
				>
					{equipo_titulo}
				</h2>
				<h3 class="mb-12 text-base text-center md:text-lg">
					{equipo_subtitulo}
				</h3>
			</div>
			<div class="m-auto overflow-hidden">
				<ul
					class="relative flex w-full h-64 md:h-72 carrousel-to-left"
					style={`--quantity:${team1.length}`}
				>
					{
						team1.map(({ foto, nombre, cargo }, index) => (
							<li class="absolute left-full" style={`--position: ${index}`}>
								<Image
									class="object-cover w-full rounded-md aspect-square"
									src={`${import.meta.env.DIRECTUS_URL}/assets/${foto}`}
									alt={`Foto de ${nombre}`}
									inferSize
								/>
								<span class="block text-base font-bold text-secondary">
									{nombre}
								</span>
								<span class="block text-sm">{cargo}</span>
							</li>
						))
					}
				</ul>

				<ul
					class="relative flex w-full md:h-72 h-60 carrousel-to-right"
					style={`--quantity:${team2.length}`}
				>
					{
						team2.map(({ foto, nombre, cargo }, index) => (
							<li class="absolute right-full" style={`--position: ${index}`}>
								<Image
									class="object-cover w-full rounded-md aspect-square"
									src={`${import.meta.env.DIRECTUS_URL}/assets/${foto}`}
									alt={`Foto de ${nombre}`}
									inferSize
								/>
								<span class="block text-base font-bold text-secondary">
									{nombre}
								</span>
								<span class="block text-sm">{cargo}</span>
							</li>
						))
					}
				</ul>
			</div>

			<style>
				ul {
					--card-width: 120px;
				}
				@media (width>=768px) {
					ul {
						--card-width: 190px;
					}
				}
				ul {
					min-width: calc(var(--card-width) * var(--quantity) * 1.1);
				}
				li {
					width: var(--card-width);
				}
				ul.carrousel-to-left > li {
					animation: carrouselLeft 30s linear infinite;
					animation-delay: calc(30s / var(--quantity) * (var(--position) * -1));
				}
				@keyframes carrouselLeft {
					to {
						left: calc(var(--card-width) * -1);
					}
				}

				ul.carrousel-to-right > li {
					animation: carrouselRight 30s linear infinite;
					animation-delay: calc(30s / var(--quantity) * (var(--position) * -1));
				}
				@keyframes carrouselRight {
					to {
						right: calc(var(--card-width) * -1);
					}
				}
			</style>
		</section>
	</main>
</Layout>

<style>
	/* radial and linear at 230px  */
	.gray-rounded-background {
		background: radial-gradient(
				150% 300px at 50% 230px,
				#f5f8f8 75%,
				transparent 75.2%
			),
			linear-gradient(180deg, transparent 230px, #f5f8f8 230px), #fff;
	}

	@media (width>=768px) {
		.gray-rounded-background {
			background: radial-gradient(
					100% 300px at 50% 230px,
					#f5f8f8 75%,
					transparent 75.2%
				),
				linear-gradient(180deg, transparent 230px, #f5f8f8 230px), #fff;
		}
	}
</style>
