---
import { Image } from "astro:assets";
import Arrow from "@/icons/arrow.astro";

const { title, excerpt, img, caption, author, authorSlug, readingTime, slug } =
  Astro.props;
---

<article
  class="flex flex-col w-full h-full overflow-hidden border-2 rounded-lg border-neutral-200 bg-accent-purple"
>
  <a class="group peer" href={`/blog/${slug}`}>
    <div class="overflow-hidden bg-white rounded-b-lg">
      <Image
        class="object-contain w-full h-56 transition-transform duration-300 group-hover:scale-105"
        src={img}
        alt={caption}
        inferSize
        loading="lazy"
      />
    </div>
  </a>

  <a class="group peer-hover:[&_h3]:text-primary" href={`/blog/${slug}`}>
    <header class="p-4">
      <h3
        class="text-lg font-bold text-pretty text-neutral-800 group-hover:text-primary"
      >
        {title}
      </h3>
    </header>
  </a>

  <div class="px-4 mb-3">
    <div class="text-clamp-4 [&>p]:text-neutral-600" set:html={excerpt} />
  </div>

  <footer class="content-end flex-1 px-3 pb-6">
    <div class="mb-3 text-sm">
      <a
        href=`/blog/autor/${authorSlug}`
        class="font-semibold text-primary/80 hover:text-primary"
      >
        {author}
      </a>
      <span>
        - Lectura:
        {readingTime}
      </span>
    </div>
    <a
      class="flex justify-center w-full gap-2 px-6 py-3 font-bold bg-white border-2 rounded-lg text-primary border-primary md:w-fit hover:bg-accent"
      href={`/blog/${slug}`}>Leer más <Arrow size={24} /></a
    >
  </footer>
</article>
