---
import { Image } from "astro:assets";
import { getCategories } from "@/services/blog";

const menuItems = await getCategories();
---

<header class="fixed z-10 w-full px-6 backdrop-blur-sm bg-neutral-950/40">
  <section
    class="flex items-center justify-between max-w-screen-xl py-4 m-auto"
  >
    <a href="/blog">
      <Image src="/d2b-logo.svg" alt="Logo de D2B" width={64} height={64} />
    </a>

    <nav class="hidden gap-4 md:flex">
      {
        menuItems?.map(({ id, name, slug }) => (
          <a
            class="px-6 py-3 font-medium text-white text-md hover:text-primary"
            href={`/blog/categoria/${slug}`}
            data-category-id={id}
          >
            {name}
          </a>
        ))
      }
      <a
        class="px-6 py-3 text-white rounded-lg bg-primary hover:bg-dark-primary"
        href="/"
      >
        Volver a D2B
      </a>
    </nav>

    <div class="relative visible md:invisible">
      <button
        id="open-close-button"
        class="group peer relative z-10 h-6 w-9 *:bg-white *:absolute *:left-0 *:w-full *:rounded-full *:h-1 *:duration-200"
        type="button"
      >
        <span
          class="top-0 group-[.active]:rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-neutral-200"
        ></span>
        <span
          class="-translate-y-1/2 top-1/2 group-[.active]:opacity-0 group-hover:bg-neutral-200"
        ></span>
        <span
          class="bottom-0 group-[.active]:-rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-neutral-200"
        ></span>
      </button>

      <nav
        class="blog-nav absolute -right-4 -top-4 flex flex-col pt-14 pb-12 shadow-lg shadow-neutral-500/10 opacity-0 duration-300 bg-white rounded-lg peer-[.active]:opacity-100"
      >
        <div class="flex flex-col gap-2 px-8 md:px-16">
          {
            menuItems?.map(({ name, slug }, index) => (
              <a
                class="px-0 py-2 text-2xl font-semibold rounded-md opacity-0 md:text-3xl fade md:px-4 text-nowrap text-secondary hover:bg-accent-purple"
                href={`/blog/categoria/${slug}`}
                style={`animation-delay: ${200 + 100 * index}ms`}
              >
                {name}
              </a>
            ))
          }
          <div
            class="h-1 my-6 rounded-full fade bg-secondary"
            style="animation-delay: 600ms;"
          >
          </div>
          <a
            class="px-0 py-2 text-2xl font-semibold rounded-md opacity-0 md:text-3xl fade md:px-4 text-nowrap text-secondary hover:bg-accent-purple"
            style="animation-delay: 600ms;"
            href="/">Volver a D2B</a
          >
        </div>
      </nav>
    </div>
  </section>
  <!-- <div class="absolute left-0 growing-bar"></div> -->
</header>

<style>
  /* Growing bar animation on blog header */
  .growing-bar {
    height: 4px;
    width: 0;
    animation: timeline linear both;
    animation-timeline: scroll(root);
  }
  @keyframes timeline {
    0% {
      background-color: red;
    }
    25% {
      background-color: cyan;
    }
    50% {
      background-color: yellow;
    }
    75% {
      background-color: blue;
    }
    to {
      background-color: lightgreen;
      width: 100%;
    }
  }

  /* Menu items fade in */
  .blog-nav {
    clip-path: inset(0 0 100% 100%);
  }
  button.active + .blog-nav {
    clip-path: inset(-10% -10% -10% -10%);
  }

  button.active + .blog-nav .fade {
    animation: fade 1s both;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
