---
import { Image } from "astro:assets";

const { title, excerpt, img, caption, author, readingTime, slug } = Astro.props;
---

<a href={`/blog/${slug}`}>
  <article
    class="flex flex-col w-full h-full overflow-hidden rounded-lg shadow-md gap-4"
  >
    <Image
      class="object-cover w-full h-56 rounded-b-lg shadow-md"
      height={300}
      width={300}
      src={img}
      alt={caption}
    />

    <header class="px-4">
      <h3 class="text-lg font-bold text-center text-pretty text-neutral-800">
        {title}
      </h3>
    </header>

    <div class="px-4">
      <div class="text-clamp-4 [&>p]:text-neutral-600" set:html={excerpt} />
    </div>

    <footer class="content-end flex-grow px-3 pb-4">
      <span class="font-semibold text-primary/80">
        {author}
      </span>
      <span>
        - Lectura:
        {readingTime}
      </span>
    </footer>
  </article>
</a>
