---
import { Image } from "astro:assets";
import Arrow from "@/icons/arrow.astro";

interface Props {
	icon: string;
	title: string;
	description: string;
	href: string;
}

const { icon, title, description, href } = Astro.props;
---

<a href={href}>
	<article
		class="flex flex-col h-full gap-2 p-4 rounded-lg group bg-accent-purple md:w-52"
	>
		<header
			class="flex flex-col gap-2 transition-all duration-500 border-b-2 border-black md:border-opacity-0 md:group-hover:border-opacity-100"
		>
			<Image
				class="p-2 bg-white rounded-lg"
				src={icon}
				alt={`Icono de ${title}`}
				width={40}
				height={40}
			/>
			<div class="flex justify-between mb-2">
				<h2
					class="relative font-bold transition-transform duration-500 md:min-h-20 md:translate-y-28 md:group-hover:translate-y-0"
				>
					{title}
				</h2>
				<span
					class="grid transition-opacity duration-500 border-2 border-black rounded-full h-fit place-items-center md:opacity-0 md:group-hover:opacity-100"
				>
					<Arrow size={24} />
				</span>
			</div>
		</header>
		<p
			class="text-xs leading-relaxed transition-opacity duration-500 md:opacity-0 md:group-hover:opacity-100"
		>
			{description}
		</p>
	</article>
</a>
