---
import { Image } from "astro:assets";
import Arrow from "@/components/icon/Arrow.astro";

interface Props {
	icon: string;
	title: string;
	description: string;
	href: string;
}

const { icon, title, description, href } = Astro.props;
---

<a href={href}>
	<article
		class="flex flex-col h-full p-4 rounded-lg gap-2 bg-accent-purple md:w-52"
	>
		<header class="flex flex-col border-b-2 border-black gap-2">
			<Image
				class="p-2 bg-white rounded-lg"
				src={icon}
				alt={`Icono de ${title}`}
				width={40}
				height={40}
			/>
			<div class="flex justify-between mb-2">
				<h2 class="font-bold">
					{title}
				</h2>
				<div
					class="border-2 border-black rounded-full grid h-fit place-items-center"
				>
					<Arrow size={24} />
				</div>
			</div>
		</header>
		<p class="text-xs leading-relaxed">
			{description}
		</p>
	</article>
</a>
