---
import type { GetStaticPaths } from "astro";
import ReactBlogCard from "@/components/ReactBlogCard";
import Layout from "@/layouts/Layout.astro";
import {
  getCategories,
  getCategoryInfo,
  getPostsByCategoryId,
} from "@/services/blog";

export const prerender = true;
export const getStaticPaths = (async () => {
  const data = await getCategories();
  return data.map(({ slug }) => ({ params: { category: slug } }));
}) satisfies GetStaticPaths;

const { category: categorySlug } = Astro.params;

const categoryData = await getCategoryInfo({ categorySlug });

const { id, name, description, yoast_head_json } = categoryData;

const posts = await getPostsByCategoryId({ id });
---

<Layout
  title={yoast_head_json.title}
  metaTitle={yoast_head_json.title}
  metaDescription={description}
>
  <main>
    <section class="px-6 pt-48 pb-12">
      <div class="max-w-screen-xl m-auto">
        <h1 class="text-xl md:text-3xl max-w-[25ch] mb-12">{name}</h1>
        <p class="md:text-lg">
          {description}
        </p>
      </div>
    </section>

    <section class="px-6 py-12">
      <div class="grid max-w-screen-xl gap-12 m-auto md:grid-cols-3">
        {
          posts.map((post) => (
            <ReactBlogCard
              title={post.title.rendered}
              excerpt={post.excerpt.rendered}
              img={post._embedded["wp:featuredmedia"][0].link}
              caption={post._embedded["wp:featuredmedia"][0].alt_text}
              author={post._embedded.author[0].name}
              authorSlug={post._embedded.author[0].slug}
              content={post.content.rendered}
              slug={post.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
