---
import BlogCard from "@/components/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getCategoryInfo, getPostsByCategoryId } from "@/services/blog";
import { wordCounter } from "@/lib/utils";

const { category: categorySlug } = Astro.params;

const { id, name, description } = await getCategoryInfo({ categorySlug });

const posts = await getPostsByCategoryId({ id });
---

<Layout title="D2B Inteligencia Digital" description="Home de la pagina de D2B">
  <main>
    <section class="px-6">
      <div class="max-w-screen-xl pb-12 m-auto pt-36">
        <h1 class="text-3xl max-w-[25ch] mb-12">{name}</h1>
        <p class="mb-6 text-lg">
          {description}
        </p>
      </div>
    </section>

    <section class="px-6">
      <div class="grid max-w-screen-xl grid-cols-3 gap-12 m-auto py-12">
        {
          posts.map((post) => (
            <BlogCard
              title={post.title.rendered}
              excerpt={post.excerpt.rendered}
              img={post._embedded["wp:featuredmedia"][0].link}
              caption={post._embedded["wp:featuredmedia"][0].alt_text}
              author={post._embedded.author[0].name}
              readingTime={
                Math.ceil(wordCounter(post.content.rendered) / 200) + " minutos"
              }
              slug={post.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
