---
import Layout from "@/layouts/Layout.astro";
import { policyLanding } from "@/services/policy";

const {
  meta_title,
  meta_description,
  titulo_principal,
  titulo_1,
  texto_1,
  titulo_2,
  texto_2,
  titulo_3,
  texto_3,
  titulo_4,
  texto_4,
} = policyLanding;
---

<Layout
  title="Políticas de cookies | D2B Inteligencia Digital"
  metaTitle={meta_title}
  metaDescription={meta_description}
>
  <main>
    <section class="px-6 bg-top bg-cover pb-36 pt-52 bg-hero">
      <div class="max-w-screen-xl m-auto">
        <h1
          class="text-white text-5xl font-bold max-w-[30ch] mb-6 animate-fade-left"
        >
          {titulo_principal}
        </h1>
      </div>
    </section>

    <section class="px-6 py-24">
      <div class="max-w-screen-xl m-auto">
        <h2 class="w-full mb-8 text-3xl font-bold md:text-4xl text-secondary">
          {titulo_1}
        </h2>
        <div>
          <div
            class="mb-10 md:text-xl [&>p]:mb-6 md:[&>p]:mb-4 [&>p:last-child]:mb-12 [&>ul]:list-disc [&>ul]:mb-4 [&>ul>li]:ml-12 [&_strong]:text-primary [&_a]:text-primary [&_a]:underline"
            set:html={texto_1}
          />
        </div>
        <h2 class="w-full mb-8 text-3xl font-bold md:text-4xl text-secondary">
          {titulo_2}
        </h2>
        <div>
          <div
            class="mb-10 md:text-xl [&>p]:mb-6 md:[&>p]:mb-4 [&>p:last-child]:mb-12 [&>ul]:list-disc [&>ul]:mb-4 [&>ul>li]:ml-12 [&_strong]:text-primary [&_a]:text-primary [&_a]:underline"
            set:html={texto_2}
          />
        </div>
        <h2 class="w-full mb-8 text-3xl font-bold md:text-4xl text-secondary">
          {titulo_3}
        </h2>
        <div>
          <div
            class="mb-10 md:text-xl [&>p]:mb-6 md:[&>p]:mb-4 [&>p:last-child]:mb-12 [&>ul]:list-disc [&>ul]:mb-4 [&>ul>li]:ml-12 [&_strong]:text-primary [&_a]:text-primary [&_a]:underline"
            set:html={texto_3}
          />
        </div>
        <h2 class="w-full mb-8 text-3xl font-bold md:text-4xl text-secondary">
          {titulo_4}
        </h2>
        <div>
          <div
            class="mb-10 md:text-xl [&>p]:mb-6 md:[&>p]:mb-4 [&>p:last-child]:mb-12 [&>ul]:list-disc [&>ul]:mb-4 [&>ul>li]:ml-12 [&_strong]:text-primary [&_a]:text-primary [&_a]:underline"
            set:html={texto_4}
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
