---
import Layout from "@/layouts/Layout.astro";
import { policyLanding } from "@/services/policy";

export const prerender = true;

const {
  meta_title,
  meta_description,
  titulo_principal,
  title,
  text_1,
  title_2,
  text_2,
  title_3,
  text_3,
  table,
  title_4,
  text_4,
  agent_table,
  title_5,
  text_5,
} = policyLanding;
---

<Layout metaTitle={meta_title} metaDescription={meta_description}>
  <main>
    <section class="px-6 bg-top bg-cover pb-36 pt-52 bg-hero">
      <div class="max-w-screen-xl m-auto">
        <h1
          class="text-white text-5xl font-bold max-w-[30ch] mb-6 animate-fade-left"
        >
          {titulo_principal}
        </h1>
      </div>
    </section>

    <section class="px-6 py-24">
      <div class="max-w-screen-xl m-auto">
        <h2 class="w-full mb-8 text-2xl font-bold md:text-3xl text-secondary">
          {title}
        </h2>
        <p class="mb-10 md:text-lg">{text_1}</p>

        <h2 class="w-full mb-8 text-3xl font-bold md:text-4xl text-secondary">
          {title_2}
        </h2>
        <p class="mb-10 md:text-lg">{text_2}</p>

        <h2 class="w-full mb-8 text-2xl font-bold md:text-3xl text-secondary">
          {title_3}
        </h2>
        <p class="mb-10 md:text-lg">{text_3}</p>
        <div
          class="mb-10 md:text-xl [&>p]:mb-6 [&_td]:p-2 [&_td]:border-2 [&_td]:border-neutral-200 md:[&>p]:mb-4 [&>p:last-child]:mb-12 [&>ul]:list-disc [&>ul]:mb-4 [&>ul>li]:ml-12 [&_strong]:text-primary [&_a]:text-primary [&_a]:underline"
          set:html={table}
        />

        <h2 class="w-full mb-8 text-2xl font-bold md:text-3xl text-secondary">
          {title_4}
        </h2>
        <p class="mb-10 md:text-lg">{text_4}</p>
        <div
          class="mb-10 md:text-xl [&>p]:mb-6 [&_td]:p-2 [&_td]:border-2 [&_td]:border-neutral-200 md:[&>p]:mb-4 [&>p:last-child]:mb-12 [&>ul]:list-disc [&>ul]:mb-4 [&>ul>li]:ml-12 [&_strong]:text-primary [&_a]:text-primary [&_a]:underline"
          set:html={agent_table}
        />

        <h2 class="w-full mb-8 text-2xl font-bold md:text-3xl text-secondary">
          {title_5}
        </h2>
        <p class="mb-10 md:text-lg">{text_5}</p>
      </div>
    </section>
  </main>
</Layout>
