---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import { getServiceInfoBySlug } from "@/services/services";

const { serviceName: serviceSlug } = Astro.params;

const {
	nombre_del_servicio: serviceName,
	titulo_principal: mainTitle,
	bajada_1: paragraph1,
	bajada_2: paragraph2,
	frase_1: phrase1,
	cta_1: cta1,
} = await getServiceInfoBySlug({ serviceSlug });
---

<Layout title=`${serviceName} | D2B` description={paragraph1}>
	<main>
		<div class="px-6 pt-32 m-auto max-w-screen-xl">
			<a class="flex gap-2 w-fit" href="/"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					><path stroke="none" d="M0 0h24v24H0z"></path><path
						d="M5 12h14M5 12l6 6M5 12l6-6"></path></svg
				>Volver</a
			>
		</div>

		<section>
			<div class="px-6 py-12 m-auto max-w-screen-xl">
				<h1 class="mb-2 text-2xl">
					{mainTitle}
				</h1>
			</div>
		</section>

		<section class="overflow-clip">
			<div
				class="px-6 py-12 m-auto grid max-w-screen-xl grid-cols-1 gap-12 md:grid-cols-2"
			>
				<div class="animate-fade-right animate-duration-[3000ms]">
					<div class="*:mb-4" set:html={paragraph1} />
					<span class="block mb-4 font-semibold text-primary">
						"{phrase1}"
					</span>
				</div>

				<div
					class="grid w-full place-items-center bg-neutral-200 aspect-video animate-fade-left animate-duration-[3000ms]"
				>
					<Image
						width={100}
						height={100}
						src="/grid.png"
						alt="Imagen temporal"
					/>
				</div>
			</div>
		</section>

		<section class="overflow-clip">
			<div
				class="px-6 py-12 m-auto grid max-w-screen-xl grid-cols-1 gap-12 md:grid-cols-2"
			>
				<div
					class="grid w-full place-items-center bg-neutral-200 aspect-video animate-fade-right animate-duration-[3000ms]"
				>
					<Image
						src="/grid.png"
						alt="Imagen temporal"
						width={100}
						height={100}
					/>
				</div>

				<div class="animate-fade-left animate-duration-[3000ms]">
					<div class="*:mb-4" set:html={paragraph2} />
					<button class="px-6 py-3 text-white rounded-lg bg-accent"
						>{cta1}</button
					>
				</div>
			</div>
		</section>

		<section class="overflow-clip">
			<div
				class="px-6 py-12 m-auto grid max-w-screen-xl grid-cols-1 gap-12 scroll-reveal-right md:grid-cols-2"
			>
				<div class="w-full bg-indigo-200 grid place-items-center aspect-video">
					<Image
						src="/grid.png"
						alt="Imagen temporal"
						width={100}
						height={100}
					/>
				</div>

				<div>
					<div class="*:mb-4" set:html={paragraph2} />
					<button class="px-6 py-3 text-white rounded-lg bg-accent"
						>{cta1}</button
					>
				</div>
			</div>
		</section>

		<section class="overflow-clip">
			<div
				class="px-6 py-12 m-auto grid max-w-screen-xl grid-cols-1 gap-12 scroll-reveal-left md:grid-cols-2"
			>
				<div class="w-full bg-indigo-200 grid place-items-center aspect-video">
					<Image
						src="/grid.png"
						alt="Imagen temporal"
						width={100}
						height={100}
					/>
				</div>

				<div>
					<div class="*:mb-4" set:html={paragraph2} />
					<button class="px-6 py-3 text-white rounded-lg bg-accent"
						>{cta1}</button
					>
				</div>
			</div>
		</section>

		<section class="overflow-clip">
			<div
				class="px-6 py-12 m-auto grid max-w-screen-xl grid-cols-1 gap-12 sr-right md:grid-cols-2"
			>
				<div class="w-full bg-indigo-200 grid place-items-center aspect-video">
					<Image
						src="/grid.png"
						alt="Imagen temporal"
						width={100}
						height={100}
					/>
				</div>

				<div>
					<div class="*:mb-4" set:html={paragraph2} />
					<button class="px-6 py-3 text-white rounded-lg bg-primary"
						>{cta1}</button
					>
				</div>
			</div>
		</section>

		<section class="overflow-clip">
			<div
				class="px-6 py-12 m-auto grid max-w-screen-xl grid-cols-1 gap-12 sr-right md:grid-cols-2"
			>
				<div class="w-full bg-indigo-200 grid place-items-center aspect-video">
					<Image
						src="/grid.png"
						alt="Imagen temporal"
						width={100}
						height={100}
					/>
				</div>

				<div>
					<div class="*:mb-4" set:html={paragraph2} />
					<button class="px-6 py-3 text-white rounded-lg bg-primary"
						>{cta1}</button
					>
				</div>
			</div>
		</section>
	</main>
</Layout>

<script>
	import ScrollReveal from "scrollreveal";

	ScrollReveal().reveal(".sr-right", {
		origin: "right",
		distance: "100px",
		duration: 2000,
		delay: 200,
		reset: true,
	});
</script>
